# Dependency directories
node_modules

/src/_shared/data

#builds
build

#en-vars & data files
.env
.json

#some cache
.git
.idea

.vs
.vscode-test

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*